version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    environment:
      - WINDSOR_API_KEY=${WINDSOR_API_KEY:-b61021f891826f56f62c84529e8d5f2e0c31}
      - PDF_API_KEY=${PDF_API_KEY:-bator@capmarketing.hu_J6wye402YArBZE40tpawANZVQjbakvEKkZxkvREHh8IVnD3OgcPskFityrBVfYBe}
      - PORT=4000
    restart: unless-stopped
